---
title: Home
---

ここは <%= config[:author] %> の個人サイトです。いろいろ増える予定

<h2>Recent Posts</h2>
<ul>
<% blog.articles[0...5].each do |article| %>
    <li>
      <%= link_to article.title, article %>
      (<span><%= article.date.strftime(config[:time_format]) %></span>)<br/>
      <%= article.data[:description] %>
    </li>
<% end %>
</ul>

<p><a href="/text/index.html">...all</a></p>
